<footer>
  <nav>
    <ul class="nav__list hidden flex-col md:flex flex-row justify-between gap-5 items-center md:items-start w-full p-8 lg:gap-20">
      {% for item in linklists["footer"].links %}
        <li class="item__footer {% if item.links != blank %}has-dropdown{% endif %}">
          <a href ="{{ item.url }}" class="text-[#ff5599] nav__link">{{ item.title }}</a>
          {% if item.links != blank %}
            <ul class="item__ul visibility-hidden">
              {% for subitem in item.links %}
              <li>
                <a href="{{ subitem.url }}" class="text-[#ff5599] nav__link">{{ subitem.title }}</a>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</footer>
{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    }
  ]
}
{% endschema %}
