@import "tailwindcss";

@font-face {
  font-family: 'Dancing Script';
  src: url('{{ "DancingScript.woff2" | asset_url }}') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.nav-link {
  font-size: 32px;
  font-family: 'Dancing Script';
}

.visibility-hidden {
  display: none;
  background-color: #ffffff;
}

.floating-particles::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./../assets/feather.svg');
  background-repeat: repeat;
  animation: fall 10s linear infinite;
  opacity: 0.3;
}

@keyframes fall {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0 100%;
  }
}

.welcome-header {
  font-family: 'Dancing Script';
}

.welcome-title {
  font-family: 'Dancing Script';
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientShift 3s ease infinite;
}

.article-title {
  font-family: 'Dancing Script';
}

.article-link {
  all: unset;
  font-family: 'Dancing Script';
  font-size: 42px;
  font-weight: 700;
  color: #ff5599;
  text-transform: uppercase;
  cursor: pointer;
}

